@import "main.css";

.body-container {
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  background: var(--color-bg);
}

.header-container {
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: 1px #000 solid;

  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 20px;
  box-sizing: border-box;
  background-color: var(--color-bg);
}

.header-logo {
  width: 110px;
  height: 51px;
  padding: 0;
  background-image: url(../imgs/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.header-info-wrapper, .header-buttons-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.header-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  font-size: 24px;
  font-weight: normal;
  line-height: 24px;
  text-transform: uppercase;
}

.header-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
}

.header-icons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 28px;
}

.header-icons .fa {
  font-weight: 900;
  cursor: pointer;
  transition: all linear .15s;
}
.header-icons .fa:hover {
  color: var(--color-hover);
}

.header-instruction {
  margin-top: 12px;
  font-size: 14px;
  letter-spacing: .04em;
  text-transform: uppercase;
  text-align: center;
}

.content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 0;
}

.chat-container {
  width: 100%;
  height: 100vw;
  display: flex;
  flex-direction: column;
  padding: 16px;
  box-sizing: border-box;
}

.chat-messages {
  width: 100%;
  height: 100%;
  max-width: 720px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  flex-grow: 1;
  margin: 0 auto;
  overflow: scroll;
  overflow-x: hidden;
  background-color: var(--color-dark);
}

.chat-link, .chat-link:visited {
  color: var(--color-bg);
}

.chat-messages::-webkit-scrollbar {
  width: 0px;
}

.chat-input {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  box-sizing: border-box;
}

.form-element.input-button {
  width: 50%;
  max-width: 100px;
  border: none;
  outline: 0;
  border-radius: 2px;
  padding: 10px 20px;
  font-size: 14px;
  text-align: center;
  background-color: var(--color-dark);
  color: var(--color-bg);
  cursor: pointer;
  text-transform: uppercase;
  transition: all linear .15s;
  z-index: 4;
}
.input-button:hover {
  background-color: var(--color-hover);
}

input.form-element {
  width: 100%;
  margin: 7px auto 0px;
  padding: 8px;
  border: none;
  font-size: 16px;
  box-sizing: border-box;
  background-color: var(--color-dark);
  color: var(--color-light);
}

input.form-element::placeholder {
  font-size: 14px;
  color: var(--color-bg);
  opacity: 1;
}

input.form-element:-ms-input-placeholder {
  font-size: 14px;
  color: var(--color-bg);
}

input.form-element::-ms-input-placeholder {
  font-size: 14px;
  color: var(--color-bg);
}

input.form-element:focus,
label.form-label:focus,
input.image-input:focus {
  outline: none;
}

input.image-input {
  display: none;
}

label.form-label-error {
  opacity: 0;
  height: 0;
  z-index: 0;
  color: var(--color-error);
  text-align: center;
  font-size: 22px;
  letter-spacing: .04em;
  margin: 7px 0;
  transition: all .15s linear;
}

.chat-message {
  width: 100%;
  min-height: fit-content;
  margin: 0 0 5px;
  padding: 10px 6px;
  border-bottom: 1px var(--color-light) solid;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  color: var(--color-light);
}

.message-user {
  width: 20%;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: .04em;
  text-align: left;
}

.message-message {
  width: 80%;
  font-size: 16px;
  line-height: 24px;
  font-family: sans-serif;
}

.image-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 16px;
  box-sizing: border-box;
}

.image-wall-overflow {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: scroll;
  overflow-x: hidden;
  background-color: var(--color-hover);
}

.image-wall-overflow::-webkit-scrollbar {
  width: 0px;
}

.image-wall {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.image-common {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: .5%;
  cursor: pointer;
}

.image-H {
  width: 66%;
  padding-bottom: 24%;
}
.image-V {
  width: 33%;
  padding-bottom: 24%;
}
.image-SQ {
  width: 24%;
  padding-bottom: 24%;
}

.video-container {
  width: 100%;
  height: 100vh;
  padding: 16px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.video-wrapper {
  width: 100%;
  height: 100%;
  flex: 1;
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
}

.video-wrapper iframe {
  width: 100%;
  height: 100%;
}

@media (min-width: 900px) {
  html {
    height: 100%;
    min-height: 100vh;
  }

  .header-container {
    position: relative;
    border: none;
  }

  .header-logo {
    width: 220px;
    height: 100%;
  }

  .header-info-wrapper, .header-buttons-wrapper, .header-about-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
  }

  .header-info-wrapper {
    width: 15%;
  }

  .header-buttons-wrapper {
    width: 220px;
  }

  .header-about-wrapper {
    width: calc(100% - 220px - 220px - 15%);
    padding-left: 4%;
  }

  .header-about {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .header-about-title {
    font-size: 24px;
    text-transform: uppercase;
    cursor: pointer;
  }

  .header-about-title:hover + .header-about-text {
    opacity: 1;
  }

  .header-about-text {
    font-size: 1.2vw;
    font-weight: 200;
    text-align: right;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity .2s linear;
  }

  .header-info {
    margin: 0 auto;
    font-size: 42px;
    font-weight: normal;
    line-height: 55px;
  }

  .header-icons {
    font-size: 40px;
  }
  .header-instruction {
    font-size: 24px;
    margin-top: 35px;
  }

  .content-container {
    flex-direction: row;
    height: 80%;
  }

  .chat-container {
    width: 25%;
    height: 100%;
  }

  .image-container {
    width: 25%;
    height: 100%;
  }

  .video-container {
    width: 50%;
    height: 100%;
  }

  .image-H {
    width: 66%;
    padding-bottom: 49%;
  }
  .image-V {
    width: 33%;
    padding-bottom: 49%;
  }
  .image-SQ {
    width: 49%;
    padding-bottom: 49%;
  }
}

.lightbox-container {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.4);
  margin: 0;
  border: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  box-sizing: border-box;
}

.lightbox-image {
  width: 100%;
  max-width: 600px;
  height: 100%;
  margin: 0 auto;
  z-index: 901;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.lightbox-close {
  position: absolute;
  top: 32px;
  color: var(--color-light);
  right: 32px;
  font-family: sans-serif;
  font-weight: 900;
  font-size: 32px;
  text-transform: uppercase;
  cursor: pointer;
}

.photo-container {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
}

.photo-canvas {
  position: absolute;
  top: 0;
}

.photo-button-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 32px auto;
}

.photo-button {
  border: none;
  outline: 0;
  border-radius: 2px;
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 14px;
  text-align: center;
  background-color: var(--color-dark);
  color: var(--color-bg);
  cursor: pointer;
  text-transform: uppercase;
}

.poster-container {
  background-color: rgba(255,255,255,.3);
}

.poster-canvas {
  width: 80%;
  max-width: 600px;
  background-color: var(--color-dark);
}

input.poster-input {
  width: 80%;
  max-width: 600px;
}

.p5Canvas {
  position: absolute;
  top: 0;
}

.poster-colors-container {
  width: 80%;
  max-width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 12px;
}

.poster-color-common {
  width: 64px;
  height: 64px;
  cursor: pointer;
}

.poster-char-counter-wrapper {
  display: block;
  width: 80%;
  max-width: 600px;
}

.poster-char-counter {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: italic;
  text-align: right;
  color: var(--color-dark);
}
