@import "main.css";

body {
  height: 100%;
}

.body-container {
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  padding: 12px 24px;
  box-sizing: border-box;
  background: var(--color-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  text-align: center;
}

.home-container {
  width: 100%;
  max-width: 800px;
  height: 100%;
  margin: 0 auto;
}

.home-logo {
  width: 100%;
  max-width: 500px;
  height: 100%;
  margin: 0 auto;
  flex-grow: 1;
  padding-bottom: 50%;
  background-image: url(../imgs/logo.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.home-subtitle {
  font-size: 50px;
  margin: 34px auto;
  text-transform: uppercase;
  text-align: center;
}

.home-text {
  font-size: 22px;
  line-height: 25px;
  text-transform: uppercase;
  text-align: center;
}

.form-element.input-button {
  width: 50%;
  max-width: 200px;
  border: none;
  outline: 0;
  border-radius: 2px;
  padding: 10px 20px;
  margin: 24px auto 0;
  font-size: 18px;
  text-align: center;
  background-color: var(--color-dark);
  color: var(--color-bg);
  cursor: pointer;
  text-transform: uppercase;
  transition: all linear .15s;
  z-index: 4;
}
.input-button:hover {
  background-color: var(--color-hover);
}
