@import "fonts.css";

:root {
  --color-bg: #ff914d;
  --color-light: #fff;
  --color-dark: #000;
  --color-hover: #aaa;
  --color-error: #f44;
}

body, html {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: LeagueGothic, sans-serif;
}

.body-container {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background: var(--color-bg);
}
